{% extends "admin.html" %}
{% block title %}应用详情{% endblock %}
{% block body %}
<div class="style">
    <h2>应用详情</h2>
    <div class="mb-3">
        <label for="name" class="form-label">名称</label>
        <p>{{s['name']}}</p>
    </div>
    <div>
        <label for="desc" class="form-label">描述</label>
        <p>{{s['desc']}}</p>
    </div>
    <div class="mb-3">
        <label for="vender" class="form-label">作者</label>
        <p>{{s['vender']}}</p>
    </div>
    <div class="mb-3">
        <label for="packageName" class="form-label">包名</label>
        <p>{{s['packageName']}}</p>
    </div>
    <div class="mb-3">
        <label for="version" class="form-label">DownloadCount</label>
        <p>{{s['downloadCount']}}</p>
    </div>
    <div class="mb-3">
        <label for="tags" class="form-label">标签</label>
        <p>{{s['tags']}}</p>
    </div>
    <div class="mb-3">
        <label for="openSourceAddress" class="form-label">Website</label>
        <input type="url" class="form-control" value="{{s['website']}}" id="openSourceAddress" name="openSourceAddress" disabled>
    </div>
    <div class="mb-3">
        <label for="icon" class="form-label">图标</label>
        <br>
        <img src="{{s['icon']}}" alt="AppIcon" width="60" height="60">
    </div>
    <div class="mb-3">
        <label for="icon" class="form-label">Screenshots</label>
        <div>
            {% for s in ss %}
            
                <div>
                    <img width=200 height=200 src="{{s}}" alt="AppIcon">
                    
                </div>
            {% endfor %}
        </div>
    </div>
    <a href="/admin/danger/removeapp/{{s['id']}}" class="btn btn-danger">删除</a>
</div>
<style>
    .content {
        margin: 5px;
    }
</style>
{% endblock %}